*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 15px 0;
    background-image: linear-gradient(90deg,rgb(218, 23, 23),rgb(0, 225, 255));
    animation: linbejalan 5s alternate infinite;
    box-shadow: 1px 0 3px 3px #dddddd;
}
nav ul{
  display: flex;
  width: 38%;
  justify-content: space-evenly;  
  list-style: none;
}
li a{
    color: white;
    font-size: 23px;
    text-decoration: none;
}
h3{
    color: white;
    font-size: 23px;
}

/* Aimation */
@keyframes linbejalan{
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}